<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function deleteBtn(){
            document.forms.action = "/members/delete";
        }
    </script>

</head>

<body>
    <div>
        <table>
            <thead>
                <th>#</th>
                <th>이름</th>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.title}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.CreatedAt}"></td>
                    <td th:text="${member.ModifiedAt}"></td>
                    <td><form th:action="@{'/members/delete/'+${member.id}}" th:method="post"><input type="submit" value="delete"></form></td>
                    <td><form th:action="@{'/members/update/'+${member.id}+'/'+${member.title}}" th:method="post"><input type="submit" value="edit"></form></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>