<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 리스트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<body>
    <div>
        <table>
            <thead>
                <th>#</th>
                <th>이름</th>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td><a href="/members/delete"><input type="hidden" th:value="${member.id}"/>delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>